/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px red; */
}

:root {
  /* FONT WEIGHTS */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* LETTER SPACING */
  --letter-spacing-tight: -2px;
  --letter-spacing-wide: 1px;

  /* FONT FAMILY */
  --font-family: 'Poppins', sans-serif;

  /* COLORS */
  --color-primary-base: #857160;
  --color-primary-light: #b39a81;
  --color-primary-dark: #52443a;
  --secondary-color: #333;
  --tertiary-color: #f4f4f4;

  --color-white: #fff;
  --color-black: #000;
  --color-grey: #f3f3f3;

  /* UTILITIES */
  --header-height: 3rem;
}

body {
  font-family: "Playfair Display", serif;
  background: var(--color-grey);
  font-weight: 500;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

